# Project

In [16]:
# Name: Alexis Lizardo
# Student ID: 301318503

## Imports

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import sys
import os
import glob
import re
from PIL import Image

## Functions

In [18]:
# Adapted from: https://stackoverflow.com/a/26912445

def remove_headers(file_list):
    pattern = r'^"Date/Time"'
    pattern = re.compile(pattern)
    path = file_list[0].rpartition('/')[0] + "/"
    for file in file_list:
        new_file = "weather-data/"+ file.split('/')[1]
        with open(file,"r") as input:
            with open(new_file,"w") as output: 
                for line in input:
                    if pattern.match(line):
                        output.write(line)
                        break
                for line in input:
                    output.write(line)
        #os.rename(new_file, path + new_file)

In [19]:
def path_to_datetime(path):
    fname = path.split('/')[1]
    fname_no_ext = fname.split('.')[0]
    date = fname_no_ext.split('-')[1]
    dt = pd.to_datetime(date)
    return dt

In [30]:
def create_img_df(filename):
    im = Image.open(filename)
    im_df = pd.DataFrame(np.array(im).flatten())
    im_df = im_df.transpose()
    im_df['Date/Time'] = path_to_datetime(filename)
    im.close()
    return im_df

## Get Data

### Get file names

In [31]:
images_path = 'katkam-scaled/'
orig_weather_path = 'yvr-weather/'
mod_weather_path = 'weather-data/'
orig_files = glob.glob(os.path.join(orig_weather_path, "*.csv"))
image_files = glob.glob(os.path.join(images_path, "*.jpg"))

### Clean weather data files

In [32]:
remove_headers(orig_files)
mod_files = glob.glob(os.path.join(mod_weather_path, "*.csv"))

### Load weather data into dataframe

In [33]:
# Adapted from: https://stackoverflow.com/a/36416258

df_from_each_file = (pd.read_csv(f, parse_dates=['Date/Time']) for f in mod_files)
weather_data = pd.concat(df_from_each_file, ignore_index=True)

## Load image data into dataframe

In [34]:
df_from_each_image = (create_img_df(f) for f in image_files[0:50])
image_data = pd.concat(df_from_each_image, ignore_index = True)

In [44]:
image_data.head()

,0,1,2,3,4,5,6,7,8,9,...,147447,147448,147449,147450,147451,147452,147453,147454,147455,Date/Time
0,108,127,170,106,125,168,103,122,165,100,...,0,0,0,0,0,0,0,0,0,2016-06-05 06:00:00
1,89,121,180,89,121,180,89,121,180,89,...,0,0,0,0,0,0,0,0,0,2016-06-05 07:00:00
2,79,118,183,80,119,184,80,119,184,81,...,0,0,0,0,0,0,0,0,0,2016-06-05 08:00:00
3,90,119,175,90,119,175,90,119,175,89,...,0,0,0,0,0,0,0,0,0,2016-06-05 09:00:00
4,125,150,191,122,147,188,121,146,187,122,...,0,0,0,0,0,0,0,0,0,2016-06-05 10:00:00

In [49]:
data = pd.merge(weather_data, image_data, on = 'Date/Time')

In [50]:
data

,Date/Time,Year,Month,Day,Time,Data Quality,Temp (°C),Temp Flag,Dew Point Temp (°C),Dew Point Temp Flag,...,147446,147447,147448,147449,147450,147451,147452,147453,147454,147455
0,2016-06-05 06:00:00,2016,6,5,06:00,‡,17.7,NaN,15.2,NaN,...,0,0,0,0,0,0,0,0,0,0
1,2016-06-05 07:00:00,2016,6,5,07:00,‡,18.9,NaN,15.6,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2016-06-05 08:00:00,2016,6,5,08:00,‡,19.6,NaN,15.5,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2016-06-05 09:00:00,2016,6,5,09:00,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2016-06-05 10:00:00,2016,6,5,10:00,‡,21.2,NaN,15.8,NaN,...,0,0,0,0,0,0,0,0,0,0
5,2016-06-05 11:00:00,2016,6,5,11:00,‡,22.6,NaN,17.0,NaN,...,0,0,0,0,0,0,0,0,0,0
6,2016-06-05 12:00:00,2016,6,5,12:00,‡,23.5,NaN,15.9,NaN,...,0,0,0,0,0,0,0,0,0,0
7,2016-06-05 13:00:00,2016,6,5,13:00,‡,24.0,NaN,15.9,NaN,...,0,0,0,0,0,0,0,0,0,0
8,2016-06-05 14:00:00,2016,6,5,14:00,‡,24.4,NaN,16.3,NaN,...,0,0,0,0,0,0,0,0,0,0
9,2016-06-05 15:00:00,2016,6,5,15:00,‡,24.7,NaN,16.6,NaN,...,0,0,0,0,0,0,0,0,0,0
10,2016-06-05 16:00:00,2016,6,5,16:00,‡,23.7,NaN,15.6,NaN,...,0,0,0,0,0,0,0,0,0,0
11,2016-06-05 17:00:00,2016,6,5,17:00,‡,22.5,NaN,15.7,NaN,...,0,0,0,0,0,0,0,0,0,0
12,2016-06-05 18:00:00,2016,6,5,18:00,‡,22.3,NaN,15.5,NaN,...,0,0,0,0,0,0,0,0,0,0
13,2016-06-05 19:00:00,2016,6,5,19:00,‡,22.0,NaN,15.7,NaN,...,0,0,0,0,0,0,0,0,0,0
14,2016-06-05 20:00:00,2016,6,5,20:00,‡,20.0,NaN,15.5,NaN,...,0,0,0,0,0,0,0,0,0,0
15,2016-06-05 21:00:00,2016,6,5,21:00,‡,20.2,NaN,15.1,NaN,...,0,0,0,0,0,0,0,0,0,0
16,2016-06-06 06:00:00,2016,6,6,06:00,‡,17.9,NaN,15.7,NaN,...,0,0,0,0,0,0,0,0,0,0
17,2016-06-06 07:00:00,2016,6,6,07:00,‡,19.4,NaN,15.7,NaN,...,0,0,0,0,0,0,0,0,0,0
18,2016-06-06 08:00:00,2016,6,6,08:00,‡,19.6,NaN,14.9,NaN,...,0,0,0,0,0,0,0,0,0,0
19,2016-06-06 09:00:00,2016,6,6,09:00,‡,20.5,NaN,14.9,NaN,...,0,0,0,0,0,0,0,0,0,0
20,2016-06-06 10:00:00,2016,6,6,10:00,‡,20.7,NaN,14.9,NaN,...,0,0,0,0,0,0,0,0,0,0
21,2016-06-06 11:00:00,2016,6,6,11:00,‡,19.9,NaN,14.4,NaN,...,0,0,0,0,0,0,0,0,0,0
22,2016-06-06 12:00:00,2016,6,6,12:00,‡,19.9,NaN,14.8,NaN,...,0,0,0,0,0,0,0,0,0,0
23,2016-06-06 13:00:00,2016,6,6,13:00,‡,22.0,NaN,15.2,NaN,...,0,0,0,0,0,0,0,0,0,0
24,2016-06-06 14:00:00,2016,6,6,14:00,‡,22.9,NaN,13.5,NaN,...,0,0,0,0,0,0,0,0,0,0
25,2016-06-06 15:00:00,2016,6,6,15:00,‡,22.7,NaN,13.1,NaN,...,0,0,0,0,0,0,0,0,0,0
26,2016-06-06 16:00:00,2016,6,6,16:00,‡,23.9,NaN,12.7,NaN,...,0,0,0,0,0,0,0,0,0,0
27,2016-06-06 17:00:00,2016,6,6,17:00,‡,24.0,NaN,12.2,NaN,...,0,0,0,0,0,0,0,0,0,0
28,2016-06-06 18:00:00,2016,6,6,18:00,‡,20.9,NaN,13.2,NaN,...,0,0,0,0,0,0,0,0,0,0
29,2016-06-06 19:00:00,2016,6,6,19:00,‡,19.8,NaN,14.5,NaN,...,0,0,0,0,0,0,0,0,0,0
30,2016-06-06 20:00:00,2016,6,6,20:00,‡,17.9,NaN,13.9,NaN,...,0,0,0,0,0,0,0,0,0,0
31,2016-06-06 21:00:00,2016,6,6,21:00,‡,16.7,NaN,13.7,NaN,...,0,0,0,0,0,0,0,0,0,0
32,2016-06-07 06:00:00,2016,6,7,06:00,‡,15.1,NaN,12.3,NaN,...,0,0,0,0,0,0,0,0,0,0
33,2016-06-07 07:00:00,2016,6,7,07:00,‡,17.1,NaN,13.1,NaN,...,0,0,0,0,0,0,0,0,0,0
34,2016-06-07 08:00:00,2016,6,7,08:00,‡,17.8,NaN,14.0,NaN,...,2,0,0,2,0,0,2,0,0,2
35,2016-06-07 09:00:00,2016,6,7,09:00,‡,18.1,NaN,13.9,NaN,...,0,0,0,0,0,0,0,0,0,0
36,2016-06-07 10:00:00,2016,6,7,10:00,‡,19.0,NaN,13.9,NaN,...,0,0,0,0,0,0,0,0,0,0
37,2016-06-07 11:00:00,2016,6,7,11:00,‡,19.1,NaN,14.4,NaN,...,0,0,0,0,0,0,0,0,0,0
38,2016-06-07 12:00:00,2016,6,7,12:00,‡,19.2,NaN,14.3,NaN,...,0,0,0,0,0,0,0,0,0,0
39,2016-06-07 13:00:00,2016,6,7,13:00,‡,20.1,NaN,14.8,NaN,...,0,0,0,0,0,0,0,0,0,0
40,2016-06-07 14:00:00,2016,6,7,14:00,‡,21.1,NaN,12.9,NaN,...,0,0,0,0,0,0,0,0,0,0
41,2016-06-07 15:00:00,2016,6,7,15:00,‡,22.2,NaN,16.3,NaN,...,0,0,0,0,0,0,0,0,0,0
42,2016-06-07 16:00:00,2016,6,7,16:00,‡,21.7,NaN,16.1,NaN,...,0,0,0,0,0,0,0,0,0,0
43,2016-06-07 17:00:00,2016,6,7,17:00,‡,21.4,NaN,14.7,NaN,...,0,0,0,0,0,0,0,0,0,0
44,2016-06-07 18:00:00,2016,6,7,18:00,‡,20.5,NaN,15.1,NaN,...,0,0,0,0,0,0,0,0,0,0
45,2016-06-07 19:00:00,2016,6,7,19:00,‡,20.5,NaN,13.3,NaN,...,0,0,0,0,0,0,0,0,0,0
46,2016-06-07 20:00:00,2016,6,7,20:00,‡,19.5,NaN,10.9,NaN,...,0,0,0,0,0,0,0,0,0,0
47,2016-06-07 21:00:00,2016,6,7,21:00,‡,17.5,NaN,10.9,NaN,...,0,0,0,0,0,0,0,0,0,0
48,2016-06-08 06:00:00,2016,6,8,06:00,‡,14.4,NaN,9.9,NaN,...,0,0,0,0,0,0,0,0,0,0
49,2016-06-08 07:00:00,2016,6,8,07:00,‡,15.0,NaN,9.8,NaN,...,0,0,0,0,0,0,0,0,0,0